
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: url(../images/mc4k2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    left: 10%;
    font-family: 'Quicksand', sans-serif;
}


/* //////////// */
/* HANGMAN GAME */
/* //////////// */


#hangMan {
    background-color: rgba(212, 175, 55, 0.35);
    /* border: 3px solid black; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 12.5% 35%;
    padding: 15px 0;
    flex: 1;
    left: -20%;
    border-radius: 25px;

}

#hangMan input {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#hangMan h1 {
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

#hangMan #Halo {
    height: 50px;
    margin-top: 5px;
}


/* ///////////// */
/* GUESSED TEXTS */
/* ///////////// */


#answer {
    font-size: 1.5em;
}

#counting, #wins, #losses, #newGame {
    font-weight: bold;
    font-size: 1.25em;

}